h1 {
  color: #d43076;
  font-family: "Playfair Display", sans-serif;
}

h2 {
  color: #5a656e;
  font-family: "Poppins", sans-serif;
}

p {
  color: #4b7dab;
  font-family: "Open Sans", sans-serif;
}
