:root {
  --primary-color: #5a656e;
  --secondary-color: #4b7dab;
  --accent-color: #d43076;
  --heading-font-family: "Playfair Display", sans-serif;
  --subheading-font-family: "Poppins", sans-serif;
  --default-font-family: "Open Sans", sans-serif;
}

body {
  font-family: var(--default-font-family);
  color: var(--primary-color);
}

.navbar li {
  padding-left: 20px;
  font-size: 14px;
}

.navbar-light .navbar-nav .nav-link.active,
.navbar-nav .nav-item:hover .nav-link {
  color: var(--accent-color);
}

section {
  padding: 60px 0;
}

.resume,
.portfolio {
  padding: 100px 0;
}

#hero {
  background: url(../images/dark-workdesk.jpg) top center;
  width: 100%;
  height: 70vh;
  background-size: cover;
  padding: 0 15px;
}

#hero h1 {
  margin: 50px 0 10px 0;
  font-size: 60px;
  font-weight: 700;
  line-height: 1.5;
  font-family: var(--heading-font-family);
  color: white;
}

#hero h2 {
  margin-bottom: 20px;
  font-size: 30px;
  font-weight: 300;
  line-height: 1.5;
  font-family: var(--subheading-font-family);
  color: white;
}

#header h1 {
  font-family: var(--heading-font-family);
  font-size: 26px;
  font-weight: 500;
  letter-spacing: 3px;
}

.logo a {
  text-decoration: none;
  color: #2c4964;
}

.about h3 {
  font-family: var(--heading-font-family);
  font-size: 34px;
  color: #2c4964;
}

.about img {
  max-height: 300px;
  float: right;
  border-radius: 8px;
}

.section-bg {
  background: linear-gradient(180deg, #f2f6f9 0%, #fff 100%);
}

.section-title {
  padding-bottom: 30px;
}

.section-title h3 {
  font-family: var(--heading-font-family);
  font-size: 32px;
  font-weight: bold;
  margin-bottom: 15px;
  padding-bottom: 15px;
  color: #345676;
}

.underline {
  padding-bottom: 10px;
  border-bottom: 3px solid var(--accent-color);
}

.icon-box {
  padding: 20px 15px;
  background: #fff;
  box-shadow: 0 0 29px 0 rgb(68 88 144 / 20%);
  border-radius: 8px;
}

.icon-box i {
  color: var(--accent-color);
  font-size: 36px;
}

.icon-box h4 {
  font-family: var(--heading-font-family);
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 15px;
  color: black;
}

.icon-box li {
  font-size: 15px;
  line-height: 24px;
  margin-bottom: 0;
  color: var(--primary-color);
}

.follow-me h3 {
  font-family: var(--heading-font-family);
  color: var(--accent-color);
  font-size: 36px;
  margin: 0 0 10px 0;
  line-height: 1;
  font-weight: 300;
  letter-spacing: 3px;
}

.follow-me p {
  font-family: var(--heading-font-family);
  font-size: 14px;
  line-height: 24px;
  color: #2c4964;
}

.follow-me .social-links {
  padding-bottom: 20px;
}

.social-links a {
  color: var(--accent-color);
  font-size: 24px;
  border: 1px solid var(--accent-color);
  padding: 8px 12px;
  border-radius: 50%;
  margin-right: 5px;
}

.social-links a:hover {
  color: white;
  background: var(--accent-color);
}

.get-in-touch i {
  color: var(--accent-color);
  font-size: 30px;
  margin-right: 15px;
}

.get-in-touch p {
  font-size: 14px;
}

.anjali-email {
  text-decoration: none;
  color: var(--primary-color);
}

.resume-item {
  border-left: 2px solid var(--accent-color);
  padding: 0 0 20px 20px;
}

.resume-title {
  color: var(--secondary-color);
  font-family: var(--subheading-font-family);
  font-size: 26px;
  font-weight: 500;
  margin-top: 20px;
  margin-bottom: 20px;
}

.resume-item h4 {
  color: #2c4964;
  font-family: var(--heading-font-family);
  font-size: 18px;
  font-weight: 600;
}

.resume-item h5 {
  font-family: var(--subheading-font-family);
  font-size: 16px;
  font-weight: 400;
  background: #e4ebf3;
  display: inline-block;
  padding: 5px 15px;
}

.portfolio-item h3 {
  color: var(--secondary-color);
  font-family: var(--subheading-font-family);
  font-size: 26px;
  font-weight: 500;
}

.portfolio-item h4 {
  color: #2c4964;
  font-family: var(--heading-font-family);
  font-size: 18px;
  font-weight: 600;
}

.my-code h3 {
  color: var(--secondary-color);
  font-family: var(--subheading-font-family);
  font-size: 26px;
  font-weight: 500;
}

@media (max-width: 768px) {
  #hero h1 {
    font-size: 50px;
  }

  #hero h2 {
    font-size: 25px;
  }

  .about h3 {
    font-size: 26px;
  }

  .about p {
    font-size: 14px;
  }

  .section-title h3 {
    font-size: 25px;
  }
}
